html,body,#app{
	background: #f2f2f2;
	padding: 0;
	margin:0;
}
*{
	margin:0;
	padding: 0;
}
.el-scrollbar__wrap{
	margin-bottom: 0 !important;
}
.error-tips{
	color:#ff0000;
	background:#FFEBEB;
	border:1px solid #ff0000;
	height: 32px;
	line-height: 32px;
	padding-left: 10px;
}
a{
	color:#fff;
	text-decoration: none;
	display: inline-block;
	height: 100%;
	width: 100%;
}
.f-line{
	border:1px solid #1D8CE0;
	margin-top: 10px;
}
.el-table{
	margin-top: 20px;
}
.el-pagination{
	text-align: right;
	margin-top: 10px;
}